<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ameypandit.itconnect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ITConnect"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"/>
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FacultyActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LecturesActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".notice.ViewNoticeActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".pdfreader.ViewPdfActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".pdfreader.PdfActivity"
            android:exported="true" />
        <activity
            android:name=".ebook.EbookActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AboutActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".notice.DeleteNoticeActivity"
            android:exported="true" />
        <activity
            android:name=".faculty.AddTeacherActivity"
            android:exported="true" />
        <activity
            android:name=".faculty.UpdateFacultyActivity"
            android:exported="true" />
        <activity
            android:name=".UploadPdf"
            android:exported="true" />
        <activity
            android:name=".UploadImage"
            android:exported="true" />
        <activity
            android:name=".notice.UploadNotice"
            android:exported="true" />
        <activity
            android:name=".AdminActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>